.App
  > div:nth-child(1)
  > div:nth-child(2)
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(2) {
  width: 400px;
}

/* 요소 | http://localhost:3000/?city=&Country= */

input.form-control:nth-child(1) {
  height: 40px;
}

/* 요소 | http://localhost:3000/?city=&Country= */

input.form-control:nth-child(2) {
  height: 40px;
}

/* 요소 | http://localhost:3000/?city=&Country= */

.btn {
  height: 40px;
  border-radius: 10px;
}
